.btn {
  color: #fff;
  position: relative;
  cursor: pointer;
  transition: 0.8s ease all;
  outline: none;
  border: 2px solid #fff;
  padding: 8px 30px;
  font-size: 1.4rem;
  line-height: 1.5;
}

.btn.hover {
  &:hover {
    &::before,
    &::after {
      width: 100%;
    }

    span {
      &::before,
      &::after {
        height: 100%;
      }
    }
  }

  &::before,
  &::after {
    height: 2px;
    width: 0;
    position: absolute;
    content: '';
    background-color: var(--main-color);
    transition: 0.8s ease all;
  }

  &::before {
    top: 0;
    left: 0;
  }

  &::after {
    bottom: 0;
    right: 0;
  }
}

.btn.hover span {
  &::before,
  &::after {
    width: 2px;
    height: 0;
    position: absolute;
    content: '';
    background-color: var(--main-color);
    transition: 0.5s ease all;
  }

  &::before {
    top: 0;
    right: 0;
  }

  &::after {
    bottom: 0;
    left: 0;
  }
}

.btn.primary {
  background: var(--main-color);
}

.btn.primary.hover:hover {
  color: var(--main-color);
  background-color: #fff;
}
