.btn {
  background: #459a07;
  color: #fff;
  position: relative;
  cursor: pointer;
  transition: 0.8s ease all;
  outline: none;
  border: 2px solid #fff;
  border-radius: 0;
  padding: 8px 30px;
  font-size: 1.4rem;
}
