.btn {
  background: var(--main-color);
  color: #fff;
  position: relative;
  cursor: pointer;
  transition: 0.8s ease all;
  outline: none;
  border: 2px solid #fff;
  border-radius: 6px;
  padding: 8px 30px;
  font-size: 1.4rem;
  line-height: 1.5;
}
